enabled: true
sender:
  fromName: {{hosted:name}}
  fromEmail: hi@{{hosted:domain}}
  replyTo: noreply@{{hosted:domain}}
  configurationSetName: {{hosted:id}}-webapp-configuration-set
  sesRegion: {{hosted:region}}
  sesVerifiedDomain: {{hosted:domain}}
