[
  {
    "Effect": "Allow",
    "Action": [
      "cognito-idp:AdminAddUserToGroup",
      "cognito-idp:AdminListGroupsForUser"
    ],
    "Resource": [
      {{#resources}}
        "{{.}}",
      {{/resources}}
    ]
  }
]
